# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore the directory for local files during development
local/

# Ignore vendor bundle files (but keep necessary vendor files for Jekyll)
vendor/bundle/
.bundle/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# OS files
.DS_Store
Thumbs.db